* {
    color:red;
}

a {
    color:red;

}
/*Agrupamento de seletores */
h1, p{
    font-weight: bold;
    text-align: center;
    color:yellow;
}

.link_class{
    color:chocolate;
}

#link_id{
    color:blue;
}

a[href="http://www.google.com"]{
    color:blueviolet;
}

/*Combinação de Seletores */

p.p1{
    font-weight: bold;
    color:black;
}

p span{
    font-style: italic;
}

p+h2 {
    font-size: 72px;
}