* {
    color:red;
}

a {
    color:red;

}

h1 {
    font-family: 'Times New Roman', Times, serif;
    transform: rotate(180deg);
    text-decoration: underline;
}
/*Agrupamento de seletores */
h1, p{
    font-weight: bold;
    text-align: center;
    color:yellow;
}

.link_class{
    color:rgb(137, 94, 63);
}

#link_id{
    color:blue;
}

a[href="http://www.google.com"]{
    color:blueviolet;
}

/*Combinação de Seletores */

p.p1{
    font-weight: bold;
    color:black;
}

p span{
    font-style: italic;
}

p+h2 {
    font-size: 72px;
}

ul>li {
    color: yellowgreen;
}

p~h3 {
    color: limegreen;
}

/*Cálculo da medida em */

.pai {
    font-size: 10px;
}
.filho {
    font-size: 2em;
}

h4{
    color: rgb(255, 99, 71);
    font-size: 30px;
}

h5 {
    color: rgba(255, 99, 71, 0.5);
    font-size: 30px;
}